* {
  margin: 0;
}

.App {
  text-align: center;
  background-color: aliceblue;
  overflow: hidden;
}

.Nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 95px;
  background-color: #d45;
  position: "sticky";
  color: #fff;
  padding: 0px 40px;
}
